### data
imagenet
data

## weight
student_weights/*
teacher_weights/*

## cache
utils/__pycache__
models/__pycache__

## Other project
KDEP
Factor-Transfer-pytorch
apex
scripts
src
tmp

#
__pycache__

## Future work
config



